# 0. Imports

In [3]:
import datetime
import inflection

import pandas as pd
import numpy as np

import pickle

## 0.1 Load Data

In [4]:
df = pd.read_csv('../dataset/raw/AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

# 1. EDA

## 1.1 Renomear colunas

In [ ]:
# Colunas antigas
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers']

# Transforma todas para Snakecase
snakecase = lambda x : inflection.underscore( x )

# Mapeia as colunas e aplica o snakecase no nome das colunas
cols_new = list( map( snakecase, cols_old) )

#renomeia as colunas
df1.columns = cols_new

## 1.1 Mudar os tipos

string -> int

string -> float

In [ ]:
df1['column1'] = df1['column1'].astype( 'int64' )

df1['column'] = df1['column'].astype( 'float64' )

## 1.2 Na

1. Vai preencher NA? Com o que? (Média, Mediana, Moda, 0, min, max)
2. Vai dropar NA?

In [ ]:
# Preenchando NA em conluna de tempo
df['new_column_year'] = df.apply(lambda x : x['df_column_date'].year
                                                if math.isnan( x['new_column_year'] )
                                                else x['new_column_year'],
                                                axis = 1)

# 2. Feature Engineering

## 2.1 Trabalhando com Data

In [ ]:
# year - Isolando o ano
df['new_year'] = df['old_date'].dt.year
# month
df['new_month'] = df['old_date'].dt.month
# day
df['new_day'] = df['old_date'].dt.day
# week of year
df['new_week_of_year'] = df['old_date'].dt.isocalendar().week
# year week
df['new_year_week'] = df['old_date'].dt.strftime('%Y-%W')

## 2.2 Preenchendo valores categóricos numéricos

In [ ]:
df['column_numerico'] = df['column_categórico'].apply( lambda x: 'categorico_a' if x == 1
                                                      else 'categorico_b' if x == 2
                                                      else 'categorico_c' if x == 3)

# 3. Exportando o dado pronto

In [5]:
pickle.dump(df,open('../dataset/processed/2_feature.pkl','wb'))